@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4em;
  background: #66ffcc;
}

.info{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label{
  color: #119988;
}

.formcolumn{
  background:#f8f8f8;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  text-align: justify;
  padding-left: 1rem;
  font-weight: 900;
}

.input{
 padding: 0 auto;
 margin: 10px;

}

input{
  padding: 0 auto;
  margin: 0 auto;
}

p{
  padding: 0 auto;
  margin: 0 auto;
}

h1{
  font-weight: 700;
  font-size: 2.1em;
  letter-spacing: -1px;
  columns: auto;
  line-height: 2rem;
}