@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4em;
  background: #66ffcc;
}

.info{
  width: 50vw;
}

.form{
  width: 50vw;

}

.label{
  color: #119988;
}

.formcolumn{
  background:#f8f8f8;
}
