@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4em;
  background: #66ffcc;
  padding-left: 4rem;
  padding-right: 4rem;
}

.info{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms{
  display: flex;

}

.label{
  color: #119988;
}

.formcolumn{
  background:#f8f8f8;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  width: 30rem;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  text-align: justify;
  padding-left: 1.5rem;
  padding-right: .75rem;
  font-weight: 900;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin: 1rem auto;
}

.input{
 padding: 0 auto;
 margin: 5px;

}

.blackcomputer{
  max-height: 30vh;
  max-width: 30rem;
  padding: 2rem;
}

.forms{
  display: flex;
  flex-direction: row;
}


.infoinput{
  padding: 0 auto;
  margin: 0 auto;
  width: 100%;
  height: 1.75rem;
  font-size: 1.4em;

}

select{
  padding: 0 auto;
  margin: 0 auto;
  width: 100%;
  height: 1.75rem;
  font-size: 1rem;
}

p{
  padding: 0 auto;
  margin: 0 auto;
}

h1{
  font-weight: 700;
  font-size: 2.1em;
  letter-spacing: -1px;
  columns: auto;
  line-height: 2rem;
}

iframe{
  height: 80%;
  width: 80%;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;

}

button {
  background: #3898ec;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 2em;
}

button:hover{
  background: #218cea;
}

.CreditCardForm{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.creditcardinput{
  background: #f8f8f8;
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  color: black;
  height: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
}

.achinput{
  background: #f8f8f8;
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  color: black;
  height: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  width: 100%;
}

.PaymentForm{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}